.page-home {

  .section-hero {
    position: relative;

    .slick {

      .slick-item {

        .slide {
          background-image: url('~assets/images/page-home/section-hero/slide-01.jpg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          height: 100vh;
        }
      }
    }

    .btn-scroll-down {
      position: absolute;
      left: 50%;
      bottom: 2rem;
      transform: translateX(-50%);
    }
  }
}
