.page-home {

  .section-hero {

    .slick {

      .slick-item {

        .slide {
          background-image: url('~assets/images/page-home/section-hero/slide-01.jpg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          height: 100vh;
        }
      }
    }
  }
}
