.block-service {
  text-align: center;

  .icon {
    width: 8rem;
    height: auto;
    margin-bottom: 1.25rem;
  }

  .block-title {
    color: #1e1e1e;
    font-size: 1.125rem;
    font-family: $font-open-sans;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.75rem;
  }

  p {
    color: #1e1e1e;
    font-size: 1rem;
    font-family: $font-open-sans;
    margin-bottom: 0;
  }
}
