.layout-default {

  .header {

    .navbar {
      background-color: rgba(#000000, 0.5);
      padding: 0;
    }
    .container {
      max-width: 1160px;
    }

    .navbar-brand {
      color: #ffe692;
      font-size: 1.125rem;
      font-family: $font-open-sans;
      font-weight: 600;
      text-transform: uppercase;
      border: 0.125rem solid #ffe692;
      padding: 1rem 1.5rem;
      margin-left: 2rem;
      margin-right: 2rem;
    }

    .navbar-nav {
      width: 100%;
      border-bottom: 1px solid #ffe692;

      .nav-item {
        width: 33.33%;
        text-align: center;
        border-bottom: 0.25rem solid transparent;
        padding: 0.625rem 1.5rem;

        .nav-link {
          color: #ffffff;
          font-size: 0.875rem;
          font-family: $font-open-sans;
          text-transform: uppercase;

          &:hover {
            color: #ffe692;
          }
        }

        &.active {
          border-color: #ffe692;

          .nav-link {
            color: #ffe692;
          }
        }
      }
    }
  }

  .footer {
    background-image: url('~assets/images/layout-default/footer/bim.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
}
